@layer base {
  :root {
    /* base */
    --color-gray-base:               rgba(255,255,255, 1);
    /* scale */
    --color-gray-50:                 rgba(0, 0, 0, 0.03);
    --color-gray-100:                rgba(0, 0, 0, 0.08);
    --color-gray-200:                rgba(0, 0, 0, 0.19);
    --color-gray-300:                rgba(0, 0, 0, 0.33);
    --color-gray-400:                rgba(0, 0, 0, 0.44);
    --color-gray-500:                rgba(0, 0, 0, 0.55);
    --color-gray-600:                rgba(0, 0, 0, 0.66);
    --color-gray-700:                rgba(0, 0, 0, 0.77);
    --color-gray-800:                rgba(0, 0, 0, 0.88);
    --color-gray-900:                rgba(0, 0, 0, 0.99);
    --color-gray-max:                rgba(0, 0, 0, 1);

    /* button shadows */
    --shadow-button:              0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    --shadow-button-hover:        0px 2px 4px -2px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(2, 6, 0, 0.07), 0px 0px 0px 1px rgba(0,0,0, 0.20);
    --shadow-button-focus:        0px 0px 0px 3px rgba(4, 121, 255, 0.50), 0px 1px 3px 0px rgba(0,0,0, 0.10), 0px 1px 2px -1px rgba(0,0,0, 0.10);
    --shadow-button-disabled:     0px 0px 0px 1px rgba(0,0,0 ,0.10);
    /* input shadows */
    --shadow-input-hover:         0px 0px 0px 1px rgba(0, 0, 0, 0.10);
    --shadow-input-focus:         0px 0px 0px 2px rgba(4, 121, 255, 0.50);
    /* card shadows */
    --shadow-card:                0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 1px 2px -1px rgba(0, 0, 0, 0.20);
    --shadow-card-focus:          0px 0px 0px 4px rgba(0, 0, 0, 0.30),  0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 1px 2px -1px rgba(0, 0, 0, 0.30);
    /* inset shadow */
    --shadow-inner-border:        0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
  }

    :root[class~="dark"] {
    /* base */
    --color-gray-base:               rgba(13,13,13, 1);
    /* scale */
    --color-gray-50:                 rgba(255, 255, 255, 0.03);
    --color-gray-100:                rgba(255, 255, 255, 0.10);
    --color-gray-200:                rgba(255, 255, 255, 0.19);
    --color-gray-300:                rgba(255, 255, 255, 0.33);
    --color-gray-400:                rgba(255, 255, 255, 0.44);
    --color-gray-500:                rgba(255, 255, 255, 0.55);
    --color-gray-600:                rgba(255, 255, 255, 0.66);
    --color-gray-700:                rgba(255, 255, 255, 0.77);
    --color-gray-800:                rgba(255, 255, 255, 0.88);
    --color-gray-900:                rgba(255, 255, 255, 0.99);
    --color-gray-max:                rgba(255, 255, 255, 1);
    /* button shadows */
    --shadow-button:              0px 0px 0px 1px rgba(255, 255, 255, 0.30), 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 1px 2px -1px rgba(0, 0, 0, 0.30);
    --shadow-button-hover:        0px 0px 0px 1px rgba(255, 255, 255, 0.30), 0px 2px 4px -2px rgba(0, 0, 0, 0.40), 0px 4px 6px -1px rgba(0, 0, 0, 0.40);
    --shadow-button-focus:        0px 0px 0px 2px rgba(4, 121, 255, 0.50), 0px 2px 4px -2px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.07);
    --shadow-button-disabled:     0px 0px 0px 1px rgba(255, 255, 255, 0.40);
    /* input shadows */
    --shadow-input-hover:         0px 0px 0px 1px rgba(255, 255, 255, 0.10);
    --shadow-input-focus:         0px 0px 0px 2px rgba(4, 121, 255, 0.50);
    /* card shadows */
    --shadow-card:                0px 0px 0px 1px rgba(255, 255, 255, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 1px 2px -1px rgba(0, 0, 0, 0.30);
    --shadow-card-focus:          0px 0px 0px 4px rgba(255, 255, 255, 0.40),  0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 1px 2px -1px rgba(0, 0, 0, 0.30);
    /* inset shadow */
    --shadow-inner-border:        0px 0px 0px 1px rgba(255, 255, 255, 0.06) inset;
    /* inset border */

  }
}
