@import "./type.css";
@import "./color.css";
@import "./reactFlow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-1 bg-base font-sans !cursor-default antialiased;
}

input {
  @apply outline-none transition-all rounded-none;
}

button {
  @apply outline-none transition-all;
}

a {
  @apply cs-text outline-none transition-all;
}

span {
  @apply cs-text;
}


.slideUp {
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.slideUp[data-side='top'] {
  animation-name: slideUp;
}

.slideUp[data-side='bottom'] {
  animation-name: slideDown;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}