@import "reactflow/dist/base.css";

.react-flow__attribution {
  display: none !important;
}

.react-flow__pane {
  cursor: default !important;
}

.react-flow__node {
  @apply rounded-2xl outline-none;
  &:focus-visible > :first-child {
    /* @apply ring-2 ring-theme dark:ring-inverseTheme border-theme; */
  }
  &:focus-within > :first-child {
    /* @apply ring-8 ring-theme/25 dark:ring-inverseTheme/25; */
  }
  &:focus-visible > .flow__handle {
    /* @apply bg-theme dark:bg-inverseTheme; */
  }
}

.react-flow__background > pattern > circle {
  @apply fill-gray-200 dark:fill-gray-200;
}

.react-flow__handle-left, .react-flow__handle-right {
  top: auto;
  left: 0;
  transform: none;
}

.react-flow__handle-right {
  top: auto;
  right: 0;
  transform: none;
}

.react-flow__handle {
  position: initial;
  background: none;
  min-width: 0;
  min-height: 0;
}

/* puts edges on top */
/* .react-flow__edges {
  z-index: 40;
} */