/* Sans */
@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text"),
    url("fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text"),
    url("fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text"),
    url("fonts/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SF Pro Text"),
    url("fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Monospace */
@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"), url("fonts/SF-Mono-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"), url("fonts/SF-Mono-Semibold.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"), url("fonts/SF-Mono-Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Mono";
  src: local("SF Mono"), url("fonts/SF-Mono-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Large - 16px */
.cs-text-lg {
  font-size: 16px;
  line-height: 23.2734px;
}

.cs-text-lg::before {
  content: "";
  margin-bottom: -0.3962em;
  display: table;
}

.cs-text-lg::after {
  content: "";
  margin-top: -0.3538em;
  display: table;
}

/* Default - 14px */
.cs-text {
  font-size: 14px;
  line-height: 19.8643px;
}

.cs-text::before {
  content: "";
  margin-bottom: -0.3784em;
  display: table;
}

.cs-text::after {
  content: "";
  margin-top: -0.3359em;
  display: table;
}

/* Small - 12px */
.cs-text-sm {
  font-size: 12px;
  line-height: 22.4551px;
}

.cs-text-sm::before {
  content: "";
  margin-bottom: -0.6046em;
  display: table;
}

.cs-text-sm::after {
  content: "";
  margin-top: -0.5621em;
  display: table;
}


.cs-text-xs {
  font-size: 11px;
  line-height: 15.0459px;
}

.cs-text-xs::before {
  content: "";
  margin-bottom: -0.4212em;
  display: table;
}

.cs-text-xs::after {
  content: "";
  margin-top: -0.3788em;
  display: table;
}

.cs-text-xxs {
  font-size: 10px;
  line-height: 14.0459px;
}

.cs-text-xxs::before {
  content: "";
  margin-bottom: -0.4212em;
  display: table;
}

.cs-text-xxs::after {
  content: "";
  margin-top: -0.3788em;
  display: table;
}

.cs-text-xxxs {
  font-size: 8px;
  line-height: 13.6367px;
}

.cs-text-xxxs::before {
  content: "";
  margin-bottom: -0.5212em;
  display: table;
}

.cs-text-xxxs::after {
  content: "";
  margin-top: -0.4788em;
  display: table;
}